<h1>Edit <%= @rep.name %></h1>
<div><% if @errors   %>
<ul><% @errors.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>
</div>
<%= form_for @rep do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :region %>
<%= f.text_field :region %>
<%= f.submit %>
<% end %>
<%= button_to "Delete", rep_path(@rep), method: "delete" %><br><br>
<h2>Edit/delete <%= @rep.name %> accounts</h2>
<% @rep.accounts.each do |account| %>
<span><label ><%= account.name %></label>
<%= button_to "Edit", edit_account_path(account), method: "get" %></span>
<%= button_to "Delete", account_path(account), method: "delete" %><br>
<% end %>

<h3>Add accounts to <%= @rep.name %></h3>
<%= button_to "New Account", new_account_path, method: "get" %>
