<div class="row">
  <div class="col-md" align="center">
    <h1>Edit <%= @rep.name %></h1>
    <div><% if @errors   %>
    <ul><% @errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
    </ul>
    <% end %>
    </div>
    <%= form_for @rep do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>
    <%= f.label :region %><br>
    <%= f.text_field :region %><br><br>
    <%= f.label :username%><br>
    <%= f.text_field :username%><br><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br><br>
    <%= f.submit(class: "button")%>
    <% end %>
  </div>
  <div class="col-md" align="left">
    <h2>Edit/delete <%= @rep.name %> accounts</h2>
        <% @rep.accounts.each do |account| %>
        <label ><%= account.name %></label><br>
        <div class="btn-group">
        <%= button_to "Edit", edit_account_path(account), method: "get", class: "button" %>
        <%= button_to "Delete", account_path(account), method: "delete", class: "button" %>
      </div>
      <% end %>
      <h3>Add accounts to <%= @rep.name %></h3>
      <%= button_to "New Account", new_account_path, method: "get", class: "button" %>
  </div>



</div>
