
<div class="jumbotron" style="max-width:50%;margin-left:25%">
<h3 align="center">Search For a Rep by Name: </h3>

<div align="center">
<%= form_tag(reps_path, method: :get) do %>
  Name: <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil, class: "button" %>
<% end %> <br>
<% if @reps.length != Rep.all.length %>
<%= button_to "Back", reps_path, method: "get", class: "button" %>
<% end %>
<br>


<h1>Here are all of your Reps!</h1>
<% @reps.each do |rep| %>
<span><%= link_to rep.name, rep_path(rep)%></span><br>
<% end %>

</div>
</div>
