<h1>Edit <%= @system.system_type %> for account: <%= Account.find(@system.account_id).name %></h1>
<div><% if @errors   %>
<ul><% @errors.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>
</div>

<%= form_for @system do |f| %>
<%= f.label :system_type %>
<%= f.text_field :system_type %>
<%= f.label :treatment_comment %>
<%= f.text_area :treatment_comment %>
<%= f.label :seasonal %>
<%= f.check_box :seasonal %>
<%= collection_select(:system, :account_id, Account.all, :id, :name) %>
<%= f.submit(class: "button") %>
<% end %>

<%= button_to "Delete", system_path(@system), method: "delete", class: "button" %>
