<h1> Add a system to an account! </h1>
<div><% if @errors   %>
<ul><% @errors.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>
</div>
<div>

<%= form_for @system do |f| %>
<%= f.label :system_type %><br>
<%= f.text_field :system_type %><br><br>
<%= f.label :treatment_comment %><br>
<%= f.text_area :treatment_comment %><br><br>
<%= f.label :seasonal %>
<%= f.check_box :seasonal %><br><br>
<%= f.label :account %><br>
<%= collection_select(:system, :account_id, Account.all, :id, :name) %><br><br>
<%= f.submit(class: "button") %>
<% end %>
