<div class="jumbotron" style="max-width:40%;margin-left:30%">

<h1 align="center"> EDIT <%= @test.name %> TEST</h1><br>
<div><% if @errors   %>
<ul><% @errors.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>
</div>
<div>
<table align="center">
<tr>
  <td>
  <%= form_for @test do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <%= f.label :reading %><br>
  <%= f.number_field :reading %><br><br>
  <%= f.label :comment %><br>
  <%= f.text_area :comment %><br>
  </td>
</tr>
<tr>

  <td align="center">
  <div class="btn-group"><%= f.submit(class: "button") %>
  <% end %>
  <%= button_to "Delete", test_path(@test), method: "delete", class: "button" %>
  </div>
  </td>
</tr>
</table>
</div>
