  <div class="jumbotron" style="max-width:40%;margin-left:30%">

  <h1 align="center"> Add a new Test </h1><br>
  <div><% if @errors   %>
  <ul><% @errors.each do |error| %>
  <li><%= error %></li>
  <% end %>
  </ul>
  <% end %>
  </div>
  <div>
<table align="center">
  <tr>
    <td>  <%= form_for @product do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name %><br><br>
      <%= f.label :system_id %><br>
      <%= f.number_field :system_id %><br><br>
      <%= f.label :test_name %><br>
      <% Test.all.each do |test| %>
      <select name="test_id">
        <%= test.id %>
      </select>
      <% end %>
      <br><br>
    </td>
  </tr>
  <tr>
    <td align="center">  <%= f.submit(class: "button") %></td>
  </tr>
</table>


  <% end %>
  </div>
  </div>
