  <div class="jumbotron">
    <h1> Inspection Report</h1>
      <div><h3><%= @inspection.account.name %>: ACCT# <%=@inspection.account.acct_num%></h3>
      <table>
        <tr>
          <td><%= button_to "EDIT ACCT #{@inspection.account.acct_num}", edit_account_path(@inspection.account), method: "get", class: "button" %><td>
          <td><%= button_to "EDIT INSPECTION", edit_inspection_path(@inspection), method: "get", class: "button" %></td>
          <td><%= button_to "DELETE INSPECTION", @inspection, method: "delete", class: "button" %></td>
          <td><%= button_to "BACK TO ACCT", @inspection.account, method: "get", class: "button" %></td>
        </tr>
      </table>
  </div><br><br>
<div class="container">
    <table style="table">
      <tr>
        <th class="theader">Model: </th>
        <td class="theader"><%= @inspection.model %> </td>
        <th class="theader">Registration Number: </th>
        <td><%= @inspection.reg_num %></td>
      </tr>
      <tr>
        <th class="theader">Last Inspection: </th>
        <td><%= @inspection.created_at %></td>
        <th class="theader">System: </th>
        <td><%= @inspection.system.system_type %> </td>
      </tr>
      <tr>
        <th class="theader">System Treatment: </th>
        <td><%= @inspection.system.treatment_comment %> </td>
      </tr>
      <tr>
        <th class="theader">Drift Eliminatior Condition</th>
        <td align="left"><%= @inspection.fill_condition %></td>
      </tr>
      <tr>
        <th class="theader">Basin Condition</th>
        <td align="left"><%= @inspection.basin_condition %></td>
      </tr>
      <tr>
        <th class="theader">Tower Condition:</th>
        <td align="left"><%= @inspection.tower_condition %></td>
      </tr>
    </table>
  </div>
</div>
