<div class="jumbotron" style="max-width:80%;margin-left:10%">
  <div>
    <h1>Service Report for ACCT: <%= @report.system.account.name %></h1>
      <table>
        <tr>
          <td><%= button_to "VIEW SYSTEM", @report.system, method: "get", class: "button" %><td>
          <td><%= button_to "VIEW REP", @report.rep, method: "get", class: "button" %></td>
        </tr>
      </table>
  </div><br><br>
  <div class="container">
          <h4 align="left">Report for <%= @report.system.system_type %> System</h4>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">TEST NAME</th>
      <th scope="col">READING</th>
      <th scope="col">COMMENTS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @test.name %></td>
      <td><%= @test.reading %></td>
      <td><%= @test.comment %></td>
    </tr>
    <tr>
      <td><%= @test2.name %></td>
      <td><%= @test2.reading %></td>
      <td><%= @test2.comment %></td>
    </tr>
  </tbody>
</table>
<h6 align="right">Last updated: <%= @report.updated_at.strftime("%^B %m %Y") %></h6>

</div>
</div>
