  <div>
    <h1>Service Report</h1>
      <div><h3><%= @report.account.name %>: ACCT# <%=@report.account.acct_num%></h3>
      <table>
        <tr>
          <td><%= button_to "VIEW ACCT", @report.account, method: "get", class: "button" %><td>
          <td><%= button_to "VIEW REP", @report.rep, method: "get", class: "button" %></td>
        </tr>
      </table>
  </div><br><br>
  <div class="container">
    <h1>Report</h1>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">TEST NAME</th>
      <th scope="col">READING</th>
      <th scope="col">COMMENTS</th>
    </tr>
  </thead>
  <tbody>

    <% @report.tests.each do |test|%>
    <tr>
      <td><%= test.name%> </td>
      <td><%= test.reading%> </td>
      <td><%= test.comment%> </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
