  <div class="jumbotron" style="max-width:50%;margin-left:25%">
    <h1 align="center">Edit <%= @account.name %></h1>
    <div align="center">
    <div><% if @errors   %>
    <ul><% @errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
    </ul>
    <% end %>
    </div>

    <%= form_for @account do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :acct_num %>
    <%= f.number_field :acct_num %><br><br>
    <%= collection_select(:account, :rep_id, Rep.all, :id, :name)%>
    <div class="btn-group">
    <%= f.submit(class: "button") %>
    <% end %>
    <%= button_to "Delete", account_path(@account), method: "delete", class: "button" %>
  </div>
  </div>
  </div>
