<h1> Account Info </h1>
<p>ACCOUNT NAME: <%= @account.name %></p>
<p>ACCOUNT NUMBER: <%= @account.acct_num %></p>
<p>REP NAME: <%= @account.rep.name %></p>
<h3>EDIT ACCOUNT</h3><%= button_to "EDIT ACCOUNT", edit_account_path(@account), method: "get" %>
<h3>EDIT <%= Rep.find(@account.rep_id).name.upcase %></h3>
<%= button_to "EDIT REP INFO", edit_rep_path(@account.rep), method: "get" %>
<br>
<hr align="left" style="width:50%">
<h3><%= Rep.find(@account.rep_id).name.upcase %> INFO</h3>
<%= button_to "VIEW REP", rep_path(@account.rep), method: "get" %>

<br>
<hr align="left" style="width:50%">
<% @account.systems.each do |system| %>
<p>SYSTEM NAME: <%= system.system_type %></p>
<p>SYSTEM TREATMENT: <%= system.treatment_comment %></p>
<p>EDIT SYSTEM: <%= button_to "EDIT INFO", edit_system_path(system), method: "get" %></p>
<p>VIEW SYSTEM: <%= button_to "VIEW INFO", system_path(system), method: "get" %></p>
<hr align="left" style="width:50%">
<% end %>
<p>NEW SYSTEM: <%= button_to "ADD NEW SYSTEM", new_system_path, method: "get" %></p>
<hr align="left" style="width:50%">

<h1>Inspection Tracker</h1>
<div>
<%@account.inspections.each do |inspection| %>
  <%= link_to "#{inspection.created_at}", inspection_path(inspection) %><br>
<% end %>


</div>
